.popup {
    position: fixed;
    top:0;
    left:0;
    width:100vh;
    height:100%;
    border: 0.7px solid #000; /* add a border */
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    background-color: #FFF !important;
}
.popup-inner {
    position: relative;
    padding: 32px;
    width:100%;
    max-width: 640px;
    background-color: #FFF !important;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}